/* Coolors Exported Palette - coolors.co/3dd1ff-885053-f85a3e-9448bc-fe5f55 */

/* HSL */
$color1: hsla(194%, 100%, 62%, 1);
$color2: hsla(357%, 26%, 42%, 1);
$color3: hsla(9%, 93%, 61%, 1);
$color4: hsla(279%, 46%, 51%, 1);
$color5: hsla(4%, 99%, 66%, 1);

/* RGB */
$color1: rgba(61, 209, 255, 1);
$color2: rgba(136, 80, 83, 1);
$color3: rgba(248, 90, 62, 1);
$color4: rgba(148, 72, 188, 1);
$color5: rgba(254, 95, 85, 1);